certifi==2019.6.16
dateparser==0.7.1
Django==2.2.20
django-debug-toolbar==1.11
django-filter==2.1.0
django-redis==4.10.0
djangorestframework==3.9.4
gunicorn==19.9.0
humanize==0.5.1
logging-tree==1.8
logx==0.1.1523254038
Markdown==3.1.1
maya==0.6.1
pendulum==2.0.4
pgnotify==0.1.1549857075
psycopg2==2.8.3
psycopg2-binary==2.8.3
python-dateutil==2.8.0
pytz==2019.1
pytzdata==2019.1
PyYAML==5.1.1
redis==3.2.1
regex==2019.6.8
sentry-sdk==0.9.5
six==1.12.0
snaptime==0.2.4
sqlparse==0.3.0
tzlocal==1.5.1
urllib3==1.25.3
