<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Need a better title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    [v-cloak] { display: none; }
  </style>
</head>
<body>

<div class="container">
  <h1>A URL Shortener</h1>
</div>
<div v-cloak class="container mt-4" id="short">
  <div class="form-group">
    <label for="url">URL to Short</label>
    <input type="text" v-model="url" v-on:keyup.enter="getShort()" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter full url">
    <small id="urlHelp" class="form-text text-muted">example: https://google.com/this/will/get/shorter</small>
  </div>
  <button v-on:click="getShort()" class="btn btn-primary">Submit</button>
  <div v-if="errorMessage != ''" class="alert alert-primary mt-3" role="alert">
    {* errorMessage *}
  </div>
  <p v-if="displayUrl != ''" class="lead pt-5">
      url: {* displayUrl *}
  </p>
  <p v-if="short != ''" class="lead">
    short: <a v-bind:href="fullUrl">{* domain *}{* short *}</a>
  </p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</body>
<script>
var vm = new Vue({
    el: '#short',
    delimiters: ['{*', '*}'],
    data: {
      url: '',
      short: '',
      displayUrl: '',
      domain: '',
      errorMessage: '',
      fullUrl: '',
    },
    methods: {
        getShort: function(event) {
          if (this.url == '') {
            return;
          }
          axios.post('/api/v1/short', {
            url: this.url
          })
          .then((response) => {
            console.log(response.data);
            this.errorMessage = "";
            this.displayUrl = this.url
            this.short = response.data.endpoint;
            this.domain = "https://brief.pw/";
            this.fullUrl = this.domain + this.short;
          })
          .catch((error) => {
            if (error.response) {
              console.log(error.response.data);
              if (error.response.status == 400) {
                this.errorMessage = "Invalid URL. Must be in the form of http://example.com";
              } else if (error.response.status == 403) {
                this.errorMessage = "Unauthorized."
              } else {
                this.errorMessage = "Ruh roh! Something broke."
              }
            } else if (error.request) {
              this.errorMessage = "Uh oh. It's down!";
            } else {
              this.errorMessage = error.message;
            }
          });
        }
    }
});
</script>
</html>
