[Unit]
Description=Compose for {{ compose.name }}
After=network.target

[Service]
Type=exec
User=root
WorkingDirectory=/opt/{{ compose.name }}
ExecStart=/bin/bash -c "/usr/local/bin/docker-compose up --exit-code-from {{ compose.name }} --no-color >> /var/log/shortcurl/{{ compose.name }}.log 2>&1"
Restart=on-failure
RestartSec=2s
