[Unit]
Description=Compose for {{ compose.name }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/{{ compose.name }}
ExecStart=/bin/bash -c "/usr/local/bin/docker-compose up --no-color >> /var/log/{{ compose.name }}/compose.log 2>&1"
